<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            tailwind.config = {
                theme: {
                    extend: {
                        colors: {
                            brand: '#e8590c',
                            'brand-dark': '#d9480f',
                        },
                    },
                },
            };
        </script>
        <link rel="stylesheet" href="/static/css/style.css" />
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body class="relative">
        {% if 'email' in session %}
        <nav class="fixed w-full z-50 top-0 left-0 md:bg-transparent">
            <div
                class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
            >
                <a href="/" class="flex items-center">
                    <img
                        src="/static/assets/logo.png"
                        class="h-8 mr-3"
                        alt="Sylus Logo"
                    />
                </a>
                <div
                    class="items-center justify-between md:flex md:w-auto md:order-1"
                    id="navbar-sticky"
                >
                    <ul
                        class="flex flex-col p-4 md:p-0 mt-4 font-medium border-orange rounded-lg md:flex-row md:space-x-8 md:mt-0"
                    >
                        <!-- <img
                            id="avatarButton"
                            type="button"
                            data-dropdown-toggle="userDropdown"
                            data-dropdown-placement="bottom-start"
                            class="w-12 h-12 rounded-full cursor-pointer"
                            src="/docs/images/people/profile-picture-5.jpg"
                            alt="User dropdown"
                        /> -->

                        <div
                            data-dropdown-toggle="userDropdown"
                            data-dropdown-placement="bottom-start"
                            class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600 cursor-pointer"
                        >
                            <span
                                class="font-medium text-gray-600 dark:text-gray-300"
                                >{% block initials %}{% endblock initials
                                %}</span
                            >
                        </div>

                        <!-- Dropdown menu -->
                        <div
                            id="userDropdown"
                            class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600 overflow-hidden"
                        >
                            <div
                                class="px-4 py-3 text-sm text-gray-900 dark:text-white"
                            >
                                <div class="font-medium truncate">
                                    {% block name %}{% endblock name %}
                                </div>
                            </div>
                            <ul
                                class="py-2 text-sm text-gray-700 dark:text-gray-200"
                                aria-labelledby="avatarButton"
                            >
                                <li>
                                    <a
                                        href="#"
                                        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                        >Dashboard</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="#"
                                        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                        >Settings</a
                                    >
                                </li>
                            </ul>
                            <div class="py-1">
                                <form action="/logout" method="POST">
                                    <button
                                        type="submit"
                                        class="block w-full text-left px-4 py-2 text-white hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                    >
                                        Log out
                                    </button>
                                </form>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
        {% else %}
        <nav class="fixed w-full z-50 top-0 left-0 md:bg-transparent">
            <div
                class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
            >
                <a href="/" class="flex items-center">
                    <img
                        src="/static/assets/logo.png"
                        class="h-8 mr-3"
                        alt="Sylus Logo"
                    />
                </a>
                <div class="flex md:order-2">
                    <div class="hidden md:flex">
                        <a
                            href="/login"
                            class="mr-6 self-center text-white hover:text-brand-dark text-base font-medium"
                        >
                            Login
                        </a>
                        <a href="/register">
                            <button
                                type="button"
                                class="text-white text-base bg-brand hover:bg-brand-dark font-medium rounded-lg px-4 py-2 text-center mr-3 md:mr-0 md:bg-brand"
                            >
                                Get started
                            </button>
                        </a>
                    </div>
                    <button
                        data-collapse-toggle="navbar-sticky"
                        type="button"
                        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-1 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                        aria-controls="navbar-sticky"
                        aria-expanded="false"
                    >
                        <span class="sr-only">Open main menu</span>
                        <svg
                            class="w-5 h-5"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 17 14"
                        >
                            <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M1 1h15M1 7h15M1 13h15"
                            />
                        </svg>
                    </button>
                </div>
                <div
                    class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
                    id="navbar-sticky"
                >
                    <ul
                        class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-orange rounded-lg md:flex-row md:space-x-8 md:mt-0 md:border-0 dark:border-gray-800"
                    >
                        <li>
                            <a
                                href="/"
                                class="block py-2 pl-3 pr-4 text-white hover:text-brand rounded md:bg-transparent md:p-0 focus:outline-none md:bg-brand md:text-white"
                                >Home</a
                            >
                        </li>
                        <li>
                            <a
                                href="#"
                                class="block py-2 pl-3 pr-4 text-white hover:text-brand rounded md:bg-transparent md:p-0 focus:outline-none md:bg-brand md:text-white"
                                >About</a
                            >
                        </li>
                        <li>
                            <a
                                href="#"
                                class="block py-2 pl-3 pr-4 text-white hover:text-brand rounded md:bg-transparent md:p-0 focus:outline-none md:bg-brand md:text-white"
                                >Contact</a
                            >
                        </li>
                        <li class="md:hidden">
                            <a
                                href="/login"
                                class="block py-2 pl-3 pr-4 text-white hover:text-brand rounded md:bg-transparent md:p-0 focus:outline-none md:bg-brand md:text-white"
                                >Login</a
                            >
                        </li>
                        <li class="md:hidden">
                            <a
                                href="/register"
                                class="block py-2 pl-3 pr-4 text-white hover:text-brand rounded md:bg-transparent md:p-0 focus:outline-none md:bg-brand md:text-white"
                                >Get started</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% endif %}

        <!-- Content Block -->
        <div class="content">{% block content %} {% endblock content %}</div>

        <!-- Flashed Messages with Absolute Positioning -->
        <div
            class="absolute top-0 left-1/2 transform -translate-x-1/2 mt-4 sm:mx-auto sm:w-full sm:max-w-sm"
        >
            {% for category, message in
            get_flashed_messages(with_categories=True) %}
            <div
                class="p-4 mb-4 text-sm text-{{category}}-800 rounded-lg bg-{{category}}-50 dark:bg-gray-800 dark:text-{{category}}-400"
                role="alert"
            >
                <span>{{message}}</span>
            </div>
            {% endfor %}
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
    </body>
</html>
